{% extends "base.html" %}

{% block title %}{{ movie.title }} - SlimFlix{% endblock %}

{% block content %}
<div class="relative">
    <!-- Backdrop Image -->
    <div class="h-96 bg-cover bg-center" style="background-image: linear-gradient(to bottom, rgba(17, 24, 39, 0.6), rgba(17, 24, 39, 1)), url('{{ movie.backdrop_path }}');">
    </div>

    <div class="container mx-auto px-4 -mt-48">
        <div class="flex flex-col md:flex-row">
            <!-- Poster Image -->
            <div class="flex-shrink-0 w-64 mx-auto md:mx-0">
                <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="rounded-lg shadow-2xl">
            </div>

            <!-- Movie Details -->
            <div class="md:ml-8 mt-8 md:mt-0 text-white flex-grow">
                <h1 class="text-4xl font-bold">{{ movie.title }} ({{ movie.year }})</h1>
                
                <div class="flex items-center my-4">
                    <span class="text-yellow-400 font-bold text-xl mr-4">{{ (movie.vote_average or 0)|round(1) }}/10</span>
                    <span class="text-gray-400">{{ movie.release_date }}</span>
                </div>

                <p class="my-4 leading-relaxed">{{ movie.overview }}</p>

                <div class="my-4">
                    <a href="{{ url_for('stream_media', file_path=movie.path) }}" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-lg text-lg">
                        Play
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

